// Bulma Framework
link(rel="stylesheet",
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css",  
	crossorigin="anonymous")

// Font Awesome
script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js",  
	crossorigin="anonymous")

// jQuery
script(src="https://code.jquery.com/jquery-3.5.0.min.js",  
	crossorigin="anonymous")