doctype
html(class="has-navbar-fixed-top has-background-white-ter")
	head
		title= title
		
		// External dependency downloads
		include includes/externalDependencies.pug

		link(rel="stylesheet",
			href="/public/styles/style.css")

		// Top Navbar
		include includes/navbar.pug

	body
		