doctype
html(class="has-navbar-fixed-top has-background-white-ter")
	head
		title= title

		// External dependency downloads
		include includes/externalDependencies.pug

		// Local dependencies
		include includes/localDependencies.pug
		
		script(src="/public/scripts/registration.js",  
			crossorigin="anonymous")

		// Top Navbar
		include includes/navbar.pug

	body
		// Header
		h1(class="title") Register an account
		
		div(class="columns is-centered")
			// User info input
			form(method="post", class="input-panel column is-one-third has-background-grey-lighter validate" id="registrationForm")
				// Username input
				label(class="label", for="username") Username:
				div(class="field")
					div(class="control has-icons-left")
						input(type="text", class="input is-dark", id="usernameField", name="username", placeholder="Username")
						span(class="icon is-small is-left")
							i(class="fas fa-address-card")
				// Username error message
				div(class="error-message content columns is-centered has-text-centered" id="usernameErrorMessage")
				
				// Password input
				label(class="label", for="password") Password:
				div(class="field has-addons")
					div(class="control has-icons-left is-expanded")
						input(type="password", class="input is-dark", id="passwordField", name="password", placeholder="Password")
						span(class="icon is-small is-left")
							i(class="fas fa-key")
					// Addons
					div(class="control")
						// Toggle plaintext password button
						button(type="button", class="button" id="showPasswordBtn") Show
				// Password error message
				div(class="error-message content columns is-centered has-text-centered" id="passwordErrorMessage")
				
				// Terms and conditions
				div(class="title-small")
					input(type="checkbox" id="termsAndConditionsCheckbox")
					span(class="filter-text") I accept the 
						a(id="termsAndConditionsTrigger") terms and conditions
				// Terms and conditions error message
				div(class="error-message content columns is-centered has-text-centered" id="termsAndConditionsErrorMessage")
				
				// Register button
				div(class="buttons is-centered")
					button(type="submit", class="button is-link is-large", id="registerBtn") Register

		// Terms and conditions modal
		div(class="modal", id="termsAndConditionsModal")
			div(class="modal-background", id="modalBackground")
			div(class="modal-content")
				div(class="box")
					article(class="media")
						div(class="media-content")
							div(class="content")
								h1(class="title") Terms and Conditions
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			button(class="modal-close is-large" aria-label="close", id="closeTermsAndConditionsModal")
			