doctype
html(class="has-navbar-fixed-top has-background-white-ter")
	head
		title= title
		
		// External dependency downloads
		include includes/externalDependencies.pug

		// Local dependencies
		include includes/localDependencies.pug

		script(src="/public/scripts/cart.js",  
			crossorigin="anonymous")

		// Top Navbar
		include includes/navbar.pug

	body
		// Header
		h1(class="title") Your shopping cart
		
		div(class="columns is-centered items")
			// Items (Left)
			div(class="column is-5")
				div(class="box has-background-white-ter")
					h1(class="title-smaller") Items
					
					hr
					
					p(class="title-small") Your shopping cart is currently empty
		
			// Total Cost (Right)
			div(class="column is-3")
				div(class="box has-background-grey-lighter")
					// Base total
					h2 Total: $0.00
					
					// Tax
					h2 GST & PST: $0.00
					h2 HST: $0.00
					
					hr
				
					// Total cost
					h1(class="label") Total:
						span(class="filter-text") $0.00
					
					// Checkout button
					div(class="buttons is-centered")
						button(type="button", class="button is-primary is-large", id="checkoutBtn") Checkout