.align-bottom {
	bottom: 2em;
	position: absolute;
}

body {
	margin-top: 5em;
}

/* Login/registration page button container */
.buttons {
	margin: 3em;
}

/* Items */
.card {
	margin: 1em 0.5em;
	width: 23.5em !important;
}
.items {
	margin-top: 5em;
}
.item-condition {
	border-radius: 30px;
	border-style: solid;
	margin: 1em 2em;
}
.item-stock {
	margin: 1em 2em;
}
.item-modal-description {
	margin: 3em auto;
}
.tax {
	margin-left: 0.2em;
	text-align: center;
	vertical-align: 80%;
}
.price {
	font-size: 3em;
	font-weight: bold;
	margin: 0 !important;
	text-align: center;
}
.price-small {
	font-size: 1.2em;
	text-align: center;
}

/* Login/registration page error messages */
.error-message {
	margin-top: 1em;
	color: red;
}

/* Item filter panel */
.filter-panel {
	border-radius: 5px;
	padding: 1em 5em;
}
.filter-text {
	padding-left: 0.5em;
}

/* Login/registration/profile page panel */
.input-panel {
	border-radius: 5px;
	margin: 6em 2em;
	padding: 1em 2.5em 2em 2.5em;
}

/* Login/registration page input field labels */
.label {
	margin-top: 1em;
	font-size: 1.8em;
}

/* Navbar and navbar items */
.navbar {
	height: 5em;
}
.navbar-center {
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
}
.navbar-item {
	padding: 1em;
}
a.navbar-item {
	font-size: 1.5em;
}
.navbar-dropdown-item {
	font-size: 1em;
}
.navbar-greeting {
	font-size: 1.5em;
	padding-right: 0.5em;
	text-align: right;
}
.navbar-home {
	padding: 1em 6em;
}
.navbar-link {
	font-size: 1.5em;
}
.current-currency-icon {
	margin-right: 0.5em;
}
.currency-icon {
	margin-left: 0.2em;
	margin-right: 1em;
}
.currency-text {
	margin: auto;
}

/* Profile page */
.profile-info-divider {
	margin: 0 0 1em 0;
	padding: 0;
}
.profile-info-label {
	font-size: 1.8em;
	font-weight: bold;
	text-align: right;
}
.profile-info-text {
	font-size: 1.2em;
	padding-top: 1.1em;
}

/* Search bar */
.search-bar {
	margin: 5em auto;
	width: 60%;
}

/* Headers */
.title {
	font-size: 3em;
	text-align: center;
}
.title-smaller {
	font-size: 2.5em;
	text-align: center;
}
.title-small {
	font-size: 1.5em;
	margin: 1em;
	text-align: center;
}